<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:name="com.flauschcode.broccoli.BroccoliApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Broccoli">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flauschcode.broccoli.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.flauschcode.broccoli.recipe.details.RecipeDetailsActivity"
            android:theme="@style/Theme.Broccoli.TransparentStatusBar"
            android:parentActivityName="com.flauschcode.broccoli.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flauschcode.broccoli.MainActivity" />
        </activity>

        <activity
            android:name="com.flauschcode.broccoli.recipe.crud.CreateAndEditRecipeActivity"
            android:theme="@style/Theme.Broccoli.NoActionBar"
            android:label="@string/new_recipe"
            android:parentActivityName="com.flauschcode.broccoli.MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- https://stackoverflow.com/a/61331671/5369519 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="*"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/broccoli" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.flauschcode.broccoli.recipe.cooking.CookingAssistantActivity"
            android:theme="@style/Theme.Broccoli.NoActionBar"
            android:label="@string/cooking_assistant"
            android:parentActivityName="com.flauschcode.broccoli.recipe.details.RecipeDetailsActivity" />

        <activity
            android:name="com.flauschcode.broccoli.MainActivity"
            android:theme="@style/Theme.Broccoli.NoActionBar"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>