name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload app APK
      uses: actions/upload-artifact@v1
      with:
        name: app-debug-${{github.run_number}}
        path: app/build/outputs/apk/debug/app-debug.apk
